{% extends 'layout.html.twig' %}

{% block body %}
  <div class="container">
    <h1>Dirección</h1>

    <table class="table table-hover table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ direccion.id }}</td>
            </tr>
            <tr>
                <th>Calle</th>
                <td>{{ direccion.calle }}</td>
            </tr>
            <tr>
                <th>Colonia</th>
                <td>{{ direccion.colonia }}</td>
            </tr>
            <tr>
                <th>Delegación</th>
                <td>{{ direccion.delegacion }}</td>
            </tr>
            <tr>
                <th>Número</th>
                <td>{{ direccion.numero }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('direccion_index') }}" class="btn btn-default">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('direccion_edit', { 'id': direccion.id }) }}" class="btn btn-default">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-default">
            {{ form_end(delete_form) }}
        </li>
    </ul>
  </div>  
{% endblock %}
