{% extends 'layout.html.twig' %}

{% block body %}
 <div class="container">
    <h1>Usuario edit</h1>
    <div class="forms">
        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}<br>
            <input type="submit" value="Edit" class="btn btn-default"/>
        {{ form_end(edit_form) }}
    </div>
    <ul>
        <li>
            <a href="{{ path('usuario_index') }}" class="btn btn-default">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-default">
            {{ form_end(delete_form) }}
        </li>
    </ul>
  </div>  
{% endblock %}
